.DS_Store
secrets.tfvars
*.tfstate
*.lock.info
*.lock.hcl
*.backup
.terraform/                                                                                                                           